.breadCrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  span {
    display: flex;
    align-items: center;
    font-size: 23px;
    @media #{$media-tablet} {
      font-size: 15px;
    }
  }
}
