.layout {
  display: flex;

  .content {
    flex: 1;
    display: flex;
    background-color: #fff;
    border-top-left-radius: 15px;
    padding: 11px 20px;
    @media #{$media-tablet} {
      border-top-left-radius: 0px;
    }
  }
}
