.addNewOptionsModal {
    .addNewOptionsModalBackground {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
    }

    .addNewOptionsModalButtons {
        padding-block: 16px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 320px;
        height: 320px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 2px 0 rgba(60, 64, 67, .2), 0 1px 6px 2px rgba(60, 64, 67, .1);
        font-weight: 500;
        font-size: 14px;
        color: #000;
        user-select: none;
        overflow: hidden;
        overflow-y: auto;
        cursor: pointer;

        .addNewOptionsModalButtonOptions {
            padding-inline: 24px;
            padding-block: 5px;
        }
    }

}