.showStorageStat {
  padding-left: 10px;

  .progress {
    width: 175px;
    height: 4px;
    background-color: #1d1d1d1f;
    border-radius: 3rem;

    .progressDone {
      width: 50%;
      height: 100%;
      background-color: #1a73e8;
      border-radius: 3rem;
    }
  }

  .storage {
    display: flex;
    align-items: center;
    padding-block: 10px;
    color: #1d1d1daf;
    font-size: 13px;
  }

  .storageButton {
    border: 1px solid #1d1d1d6f;
    width: fit-content;
    padding: 10px 24px;
    border-radius: 1.5rem;
    color: rgb(26, 115, 232);
    font-size: 14px;
  }
}
