.sidebar {
  width: 257px;
  height: 100vh;
  padding-inline: 10px;
  color: #000;
  z-index: 2;
  .treeAlign {
    margin-left: 10px;
    margin-top: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
}
.sidebarDesktop {
  @media #{$media-tablet} {
    display: none;
  }
}
.sidebarMobile {
  display: none;
  @media #{$media-tablet} {
    position: fixed;
    background-color: #f7f9fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 64px);
    .headerIcon {
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 247px;
      div {
        margin-left: 8px;
        font-size: 21px;
      }
    }
    .otherOptions {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}
.sidebarBackdrop {
  display: none;
  @media #{$media-tablet} {
    display: block;
    position: fixed;
    z-index: 1;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
