.sidebar {
    width: 257px;
    height: 100vh;
    padding-inline: 10px;
    color: #000;

    .treeAlign {
        margin-left: 10px;
        margin-top: 10px;
        gap: 15px;
        display: flex;
        flex-direction: column;
    }
}