.TreeMenuButton {
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 1.5rem;

  .TreeMenuButtonToggleIcon {
    display: flex;
    align-items: center;
  }
  .treeMenuButtonLink {
    all: unset;
    cursor: pointer;
    font-size: 13px;
    gap: 12px;
    display: flex;
    align-items: center;
    min-width: 100%;
  }
}
