.createNewModal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .createNewModalPopup {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .createNewModalBody {
            width: 343px;
            height: 197px;
            padding: 24px;
            background-color: #fff;
            border-radius: 6px;
            box-shadow: 0 2px 2px 0 rgba(60, 64, 67, .2), 0 1px 6px 2px rgba(60, 64, 67, .1);
            font-weight: 500;
            font-size: 14px;
            color: #000;
            user-select: none;
            overflow: hidden;
            overflow-y: auto;
            cursor: pointer;

            .createNewModalTitle {
                margin-bottom: 12px;
                font-size: 24px;
                font-weight: 400;
                color: #1d1d1d;
            }

            .createNewModalInput {
                width: 100%;
                padding: 10px;
                border: 2px solid #0B57D0;
                border-radius: 4px;
            }

            .createNewModalButton {
                padding: 8px;
                border: none;
                border-radius: 4px;
                color: #0B57D0;
                font-weight: 500;
                font-size: 14px;
                cursor: pointer;
            }


        }

    }

}