.emptyDirectory {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  gap: 13px;

  .headerText {
    font-size: 32px;
    color: #1f1f1f;
  }

  .middleAlign {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #1f1f1f;

    .leftIcons {
      float: right;
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }

    .rightIcons {
      float: left;
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }
  }

  .footerText {
    font-size: 13px;
  }
}
