.iconButton {
    height: 40px;
    width: 40px;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    // background-color: #adf2fc;
    cursor: pointer;

    .val {
        font-size: 32px;
        color: #1F1F1F;
    }
}