.viewer {
    .viewerAlign {
        display: flex;
        justify-content: space-between;

        .viewerBreadCrumbRightIcon {
            display: flex;
        }
    }

    .viewerGrid {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: calc(100vh - 140px);
    }
}