.viewer {
  .viewerAlign {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

    .viewerBreadCrumbRightIcon {
      display: flex;
    }
  }

  .viewerGrid {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: calc(100vh - 140px);
  }
}
