.header {
  display: flex;
  padding: 8px;
  height: 64px;
  width: 100%;
  justify-content: space-between;
  @media #{$media-tablet} {
    padding: 10px 20px;
  }
  .hamburgerMenu {
    display: none;
    @media #{$media-tablet} {
      display: flex;
      align-items: center;
    }
  }
  .headerIcon {
    padding: 16px;
    display: flex;
    align-items: center;
    min-width: 247px;

    @media #{$media-tablet} {
      display: none;
    }

    div {
      margin-left: 8px;
      font-size: 21px;
    }
  }
  .otherOptions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 4px;
    @media #{$media-tablet} {
      display: none;
    }
  }
  
}
