.searchBar {
  display: flex;
  width: 48%;
  background-color: #edf2fc;
  border-radius: 1.5rem;
  align-items: center;
  padding-inline: 10px;
  height: 46px;
  justify-content: space-between;

  @media #{$media-tablet} {
    width: 100%;
    margin-left: 15px;
  }

  div {
    display: flex;
    align-items: center;
  }

  input {
    all: unset;
    padding-left: 8px;
    &::placeholder {
      color: #1d1d1d;
    }
  }
}
